.header {
    font-size: 75px;
    text-align: center;
}

.header-p {
    font-size: 35px;
    text-align: center;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    color: white;
    background-color: purple;
}

