body {
    text-align: center;

}
.header {
    font-size: 75px;
}

.header-p {
    font-size: 35px;
}

#start {
    height: 50px;
    width: 100px;
    color: white;
   
    
}

.center-button {
     display: flex; 
    justify-content: center;
}

.hide {
    display: none;
}

.questions {
    font-size: 25px;
}

#endScreen {
    font-size: 25px;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: lightseagreen;
    color: #fff;
  }

#high-scores {
    margin: 2%;
    height: 50px;
    width: 100px;
 
}

.time {
    height: 200px;
    font-size: 50px;

  }

.timer-text {
    margin: 0%;
}