body {
    text-align: center;

}
.header {
    font-size: 75px;
}

.header-p {
    font-size: 35px;
}

.start {
    height: 50px;
    width: 100px;
    color: white;
    background-color: purple;
}

.center-button {
     display: flex; 
    justify-content: center;
}

.hide {
    display: none;
}

.questions {
    font-size: 25px;
}

.end-screen {
    font-size: 25px;
}